<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Game Complete</title>
</head>
<body>
    <%- include("partials/navbar") -%>

    <div class="page-container">
        <div class="completed-game-container">

            <div id="questions-complete">
                <span>Questions Complete</span>
            </div>

            <div id="game-complete-timer">
                <span id="timer-header">Time Taken: </span><span class="timer-value"><%=Math.floor(total_seconds/60)%></span><span class="timer-value">minutes</span><span class="timer-value"><%=(total_seconds%60)%></span><span class="timer-value">seconds</span>
            </div>

            <div id="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="1550" height="1" viewBox="0 0 1550 1">
                    <line x1="10" x2="1595" transform="translate(0 0.5)" fill="none" stroke="#707070" stroke-width="1"/>
                </svg>                  
            </div>

            <div id="display-complete-score">
                <span>Well done! You scored </span> <span id="score-colour"><%=score%></span>
            </div>

            <div id="review-questions">
                <span>Review Questions</span>
            </div>

            <% var correct_style_class = "correct";
            for (let i = 1; i <= 10; i++) { 
                 
                if (questions[i-1].correct) {
                    correct_style_class = "correct";
                } else {
                    correct_style_class = "incorrect";
                } %>
                <form id="review-questions-icon-<%=i%>" class="review-questions-icon" action="/completed_game" method="GET">
                    <label>
                        <input type="submit" style="display: none;">
                        <input type="text" style="display: none;" value="<%=i%>" name="question_number">
                        <div>
                            <svg class="<%=correct_style_class%> review-questions-icon" xmlns="http://www.w3.org/2000/svg" fill="rgba(0,206,14,0.35)" width="102" height="102" viewBox="0 0 102 102">
                                <g stroke="#98838f" stroke-width="6">
                                <rect width="102" height="102" rx="27" stroke="none"/>
                                <rect x="3" y="3" width="96" height="96" rx="24" fill="none"/>
                                </g>
                                <text transform="translate(24 62)" fill="#98838f" font-size="30" font-family="Poppins-Black, Poppins" font-weight="800"><tspan x="0" y="0">Q<%=i%></tspan></text>
                            </svg>
                        </div>
                    </label>
                </form>
            <% } %>

            <% 
            if (typeof(question_number) == "undefined") { var question_number = 1; }
            var correct_review_style_class = "correct"; 
            if (questions[question_number-1].correct) {
                correct_review_style_class = "review-correct"; 
            } else {
                correct_review_style_class = "review-incorrect"; 
            } 
            %>

            <% if (questions[question_number-1].correct) {%>
                <div id="review-question">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1201" height="353" viewBox="0 0 1201 353">
                        <g>
                          <g fill="#fff">
                            <path d="M 1169 350.5 L 32 350.5 C 28.0164623260498 350.5 24.15338516235352 349.7203063964844 20.51799964904785 348.1827697753906 C 17.00553894042969 346.6970825195312 13.85046195983887 344.5697021484375 11.14030742645264 341.8596801757812 C 8.430307388305664 339.1495361328125 6.302923202514648 335.9944763183594 4.817230701446533 332.4819946289062 C 3.279692411422729 328.8466186523438 2.5 324.9835510253906 2.5 321 L 2.5 32 C 2.5 28.0164623260498 3.279692411422729 24.15338516235352 4.817230701446533 20.51799964904785 C 6.302923202514648 17.00553894042969 8.430307388305664 13.85046195983887 11.14030742645264 11.14030742645264 C 13.85046195983887 8.430307388305664 17.00553894042969 6.302923202514648 20.51799964904785 4.817230701446533 C 24.15338516235352 3.279692411422729 28.0164623260498 2.5 32 2.5 L 1169 2.5 C 1172.983520507812 2.5 1176.846557617188 3.279692411422729 1180.482055664062 4.817230701446533 C 1183.994506835938 6.302923202514648 1187.149536132812 8.430307388305664 1189.859741210938 11.14030742645264 C 1192.569702148438 13.85046195983887 1194.697021484375 17.00553894042969 1196.182739257812 20.51799964904785 C 1197.720336914062 24.15338516235352 1198.5 28.0164623260498 1198.5 32 L 1198.5 321 C 1198.5 324.9835510253906 1197.720336914062 328.8466186523438 1196.182739257812 332.4819946289062 C 1194.697021484375 335.9944763183594 1192.569702148438 339.1495361328125 1189.859741210938 341.8596801757812 C 1187.149536132812 344.5697021484375 1183.994506835938 346.6970825195312 1180.482055664062 348.1827697753906 C 1176.846557617188 349.7203063964844 1172.983520507812 350.5 1169 350.5 Z" stroke="none"/>
                            <path d="M 32 5 C 28.352783203125 5 24.8173828125 5.713226318359375 21.491943359375 7.11968994140625 C 18.27734375 8.4793701171875 15.389404296875 10.42691040039062 12.908203125 12.90814208984375 C 10.4268798828125 15.38937377929688 8.4793701171875 18.27737426757812 7.1197509765625 21.49200439453125 C 5.7132568359375 24.8173828125 5 28.352783203125 5 32 L 5 321 C 5 324.647216796875 5.7132568359375 328.1826171875 7.1197509765625 331.5079956054688 C 8.4793701171875 334.7226257324219 10.4268798828125 337.6106262207031 12.908203125 340.0918579101562 C 15.389404296875 342.5730895996094 18.27734375 344.5206298828125 21.491943359375 345.8803100585938 C 24.8173828125 347.2867736816406 28.352783203125 348 32 348 L 1169 348 C 1172.647216796875 348 1176.1826171875 347.2867736816406 1179.508056640625 345.8803100585938 C 1182.72265625 344.5206298828125 1185.610595703125 342.5730895996094 1188.091796875 340.0918579101562 C 1190.573120117188 337.6106262207031 1192.520629882812 334.7226257324219 1193.880249023438 331.5079956054688 C 1195.286743164062 328.1826171875 1196 324.647216796875 1196 321 L 1196 32 C 1196 28.352783203125 1195.286743164062 24.8173828125 1193.880249023438 21.49200439453125 C 1192.520629882812 18.27737426757812 1190.573120117188 15.38937377929688 1188.091796875 12.90814208984375 C 1185.610595703125 10.42691040039062 1182.72265625 8.4793701171875 1179.508056640625 7.11968994140625 C 1176.1826171875 5.713226318359375 1172.647216796875 5 1169 5 L 32 5 M 32 0 L 1169 0 C 1186.673095703125 0 1201 14.32693481445312 1201 32 L 1201 321 C 1201 338.6730651855469 1186.673095703125 353 1169 353 L 32 353 C 14.326904296875 353 0 338.6730651855469 0 321 L 0 32 C 0 14.32693481445312 14.326904296875 0 32 0 Z" stroke="none" fill="#98838f"/>
                          </g>
                          <text transform="translate(26 50)" fill="#78c3fb" font-size="30" font-family="Poppins-Black, Poppins" font-weight="800"><tspan x="0" y="0">Question <%=question_number%></tspan></text>
                          <text transform="translate(404 198)" fill="#98838f" font-size="60" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0"><%=questions[question_number-1].text + questions[question_number-1].userAnswer%></tspan><tspan y="0" font-size="30"> </tspan></text>
                          <!--<text transform="translate(654 198)" fill="#a6eeaa" font-size="60" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0"><%=questions[question_number-1].userAnswer%></tspan></text>-->
                        </g>
                        <line x2="44" y2="31" transform="translate(300 174.5)" fill="none" stroke="#a6eeaa" stroke-width="25"/>
                        <line x1="51" y2="69" transform="translate(328 135)" fill="none" stroke="#a6eeaa" stroke-width="25"/>
                      </svg>
                </div>
            <% } else {%>
            <div id="review-question">
                <svg xmlns="http://www.w3.org/2000/svg" width="1201" height="353" viewBox="0 0 1201 353">
                    <g fill="#fff">
                        <path d="M 1169 350.5 L 32 350.5 C 28.0164623260498 350.5 24.15338516235352 349.7203063964844 20.51799964904785 348.1827697753906 C 17.00553894042969 346.6970825195312 13.85046195983887 344.5697021484375 11.14030742645264 341.8596801757812 C 8.430307388305664 339.1495361328125 6.302923202514648 335.9944763183594 4.817230701446533 332.4819946289062 C 3.279692411422729 328.8466186523438 2.5 324.9835510253906 2.5 321 L 2.5 32 C 2.5 28.0164623260498 3.279692411422729 24.15338516235352 4.817230701446533 20.51799964904785 C 6.302923202514648 17.00553894042969 8.430307388305664 13.85046195983887 11.14030742645264 11.14030742645264 C 13.85046195983887 8.430307388305664 17.00553894042969 6.302923202514648 20.51799964904785 4.817230701446533 C 24.15338516235352 3.279692411422729 28.0164623260498 2.5 32 2.5 L 1169 2.5 C 1172.983520507812 2.5 1176.846557617188 3.279692411422729 1180.482055664062 4.817230701446533 C 1183.994506835938 6.302923202514648 1187.149536132812 8.430307388305664 1189.859741210938 11.14030742645264 C 1192.569702148438 13.85046195983887 1194.697021484375 17.00553894042969 1196.182739257812 20.51799964904785 C 1197.720336914062 24.15338516235352 1198.5 28.0164623260498 1198.5 32 L 1198.5 321 C 1198.5 324.9835510253906 1197.720336914062 328.8466186523438 1196.182739257812 332.4819946289062 C 1194.697021484375 335.9944763183594 1192.569702148438 339.1495361328125 1189.859741210938 341.8596801757812 C 1187.149536132812 344.5697021484375 1183.994506835938 346.6970825195312 1180.482055664062 348.1827697753906 C 1176.846557617188 349.7203063964844 1172.983520507812 350.5 1169 350.5 Z" stroke="none"/>
                        <path d="M 32 5 C 28.352783203125 5 24.8173828125 5.713226318359375 21.491943359375 7.11968994140625 C 18.27734375 8.4793701171875 15.389404296875 10.42691040039062 12.908203125 12.90814208984375 C 10.4268798828125 15.38937377929688 8.4793701171875 18.27737426757812 7.1197509765625 21.49200439453125 C 5.7132568359375 24.8173828125 5 28.352783203125 5 32 L 5 321 C 5 324.647216796875 5.7132568359375 328.1826171875 7.1197509765625 331.5079956054688 C 8.4793701171875 334.7226257324219 10.4268798828125 337.6106262207031 12.908203125 340.0918579101562 C 15.389404296875 342.5730895996094 18.27734375 344.5206298828125 21.491943359375 345.8803100585938 C 24.8173828125 347.2867736816406 28.352783203125 348 32 348 L 1169 348 C 1172.647216796875 348 1176.1826171875 347.2867736816406 1179.508056640625 345.8803100585938 C 1182.72265625 344.5206298828125 1185.610595703125 342.5730895996094 1188.091796875 340.0918579101562 C 1190.573120117188 337.6106262207031 1192.520629882812 334.7226257324219 1193.880249023438 331.5079956054688 C 1195.286743164062 328.1826171875 1196 324.647216796875 1196 321 L 1196 32 C 1196 28.352783203125 1195.286743164062 24.8173828125 1193.880249023438 21.49200439453125 C 1192.520629882812 18.27737426757812 1190.573120117188 15.38937377929688 1188.091796875 12.90814208984375 C 1185.610595703125 10.42691040039062 1182.72265625 8.4793701171875 1179.508056640625 7.11968994140625 C 1176.1826171875 5.713226318359375 1172.647216796875 5 1169 5 L 32 5 M 32 0 L 1169 0 C 1186.673095703125 0 1201 14.32693481445312 1201 32 L 1201 321 C 1201 338.6730651855469 1186.673095703125 353 1169 353 L 32 353 C 14.326904296875 353 0 338.6730651855469 0 321 L 0 32 C 0 14.32693481445312 14.326904296875 0 32 0 Z" stroke="none" fill="#98838f"/>
                    </g>
                    <g id="X" data-name="X" transform="translate(325 93.05)">
                        <line id="Line_4" data-name="Line 4" x2="1" y2="81.625" transform="translate(0 0.707) rotate(-45)" fill="none" stroke="#eea6a6" stroke-width="25"/>
                        <line id="Line_5" data-name="Line 5" x2="1" y2="81.625" transform="translate(58.718 0) rotate(45)" fill="none" stroke="#eea6a6" stroke-width="25"/>
                      </g>

                      
                    <text transform="translate(26 50)" fill="#78c3fb" font-size="30" font-family="Poppins-Black, Poppins" font-weight="800"><tspan x="0" y="0">Question <%=question_number%></tspan></text>
                    <text transform="translate(404 139)" fill="#98838f" font-size="60" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0"><%=questions[question_number-1].text + questions[question_number-1].userAnswer%></tspan><tspan y="0" font-size="30"> </tspan></text>
                    <text transform="translate(346 248)" fill="#98838f" font-size="60" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Correct Answer: </tspan><tspan y="0" fill="#eea6a6"> </tspan><tspan y="0" fill="#a6eeaa"><%=questions[question_number-1].correctAnswer%></tspan></text>
                    <!--<text class = "<%=correct_review_style_class%>" transform="translate(654 139)" fill="#eea6a6" font-size="60" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0"><%=questions[question_number-1].userAnswer%></tspan></text>-->
                </svg>                                  
            </div>  
            <% } %>
        </div>
    </div>
</body>
</html>