<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Profile</title>
</head>
<body>
    <%- include("partials/navbar") -%>
    <div class="page-container">
        <div class="profile-container">

            <div id="profile-user-text">
                <span>Hello, </span><span><%=username%></span>
            </div>

            <div id="game-history-text">
                <span>Game History:</span>
            </div>
            <% for (var i = 0; i < quizzes.length; i++) { console.log(quizzes)%>
                <%
                    var question_types_str = String(quizzes[i].selectedTypes);
                    console.log(question_types_str)
                    question_types_str = question_types_str.replace(/,(?=[^\s])/g, ", ");
                    question_types_str = question_types_str.replace(/addition/g, "Addition");
                    question_types_str = question_types_str.replace(/subtraction/g, "Subtraction");
                    question_types_str = question_types_str.replace(/division/g, "Division");
                    question_types_str = question_types_str.replace(/multiplication/g, "Multiplication");
                    console.log(question_types_str)

                    const formatter = new Intl.DateTimeFormat("en", {month: "long", day:"numeric",year:"numeric"});

                    var date = new Date(quizzes[i].date);
                    var date_str = formatter.format(date);
                %>
                <div class="game-history-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1396" height="120" viewBox="0 0 1396 126">
                        <g>
                        <g fill="#fff" stroke="#707070" stroke-width="5">
                            <rect width="1396" height="126" stroke="none"/>
                            <rect x="2.5" y="2.5" width="1391" height="121" fill="none"/>
                        </g>
                            <% if (Math.floor(quizzes[i].timeTaken/60) === 0) { %>
                                <text transform="translate(29 95)" fill="#16e0bd" font-size="30" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Time Taken: </tspan><tspan y="0" fill="#98838f"><%=(quizzes[i].timeTaken%60)%> seconds</tspan></text>
                            <% } else { %>
                                <text transform="translate(29 95)" fill="#16e0bd" font-size="30" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Time Taken: </tspan><tspan y="0" fill="#98838f"><%=(Math.floor(quizzes[i].timeTaken/60))%> minutes <%=(quizzes[i].timeTaken%60)%> seconds</tspan></text>
                            <% } %>
                            <text transform="translate(29 52)" fill="#16e0bd" font-size="30" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Question Types:</tspan><tspan y="0" font-family="Poppins-Bold, Poppins" font-weight="700"> </tspan><tspan y="0" fill="#98838f"><%=question_types_str%></tspan><tspan y="0" font-family="Poppins-Bold, Poppins" font-weight="700"> </tspan></text>
                            <text transform="translate(1012 52)" fill="#16e0bd" font-size="30" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Score: </tspan><tspan y="0" fill="#98838f"> <%=quizzes[i].score%>% </tspan><tspan y="0"></tspan></text>
                            <text transform="translate(1012 95)" fill="#16e0bd" font-size="30" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Date: </tspan><tspan y="0" fill="#98838f"> <%=date_str%> </tspan></text>
                        </g>
                        <text transform="translate(661 95)" fill="#16e0bd" font-size="30" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">Grade Level: </tspan><tspan y="0" xml:space="preserve" fill="#98838f"><%=quizzes[i].grade%></tspan></text>
                    </svg>
                </div>
            <% } %>

            
        </div>
    </div>
</body>
</html>

            <!--             
            <div id="next-page">
                <%# if(i === 0){ %>
                    <svg id="next-page-left-arrow" xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37">
                        <path d="M18.5,0,37,36H0Z" transform="translate(0 37) rotate(-90)" fill="#98838f"/>
                    </svg>
                <%# } %>
                <span style="padding-left: 0.4vw;">Page </span> <span><%#=page%> </span> <span>/</span> <span><%#=max_page%> </span>
                <%# if(i === 0){ %>
                    <svg id="next-page-right-arrow" xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37">
                        <path d="M18.5,0,37,36H0Z" transform="translate(36) rotate(90)" fill="#98838f"/>
                    </svg>
                <%# } %>

            </div>
            -->